<h1>Hola Angular</h1>

<a [routerLink]="['/ejemplo1']">Ejemplo1</a> | 
<a [routerLink]="['/ejemplo2']">Ejemplo2</a> |
<a [routerLink]="['/ejemplo3']">Ejemplo3</a> |
<a [routerLink]="['/ejemplo4']">Ejemplo4</a> |
<a [routerLink]="['/ejemplo5']">Ejemplo5</a> |
<a [routerLink]="['/ejemplo6']">Ejemplo6</a> |
<a [routerLink]="['/ejemplo7']">Ejemplo7</a> |
<a [routerLink]="['/ejemplo8']">Ejemplo8</a> |
<a [routerLink]="['/ejemplo9']">Ejemplo9</a> |
<a [routerLink]="['/ejemplo10']">Ejemplo10</a> |
<a [routerLink]="['/ejemplo11']">Ejemplo11</a> |
<a [routerLink]="['/ejemplo12Padre']">Ejemplo12</a> |
<a [routerLink]="['/ejemplo13Padre']">Ejemplo13</a> |
<a [routerLink]="['/ejemplo14']">Ejemplo14</a> |
<a [routerLink]="['/ejemplo15', 'mrtnmmn']">Ejemplo15</a> |
<a [routerLink]="['/ejercico1']">Ejercicio1</a> |
<a [routerLink]="['/ejercicio2']">Ejercicio2</a>
<hr>

<router-outlet></router-outlet>